<!DOCTYPE html>
<html>
    <style>
        body { font-family: Consolas, sans-serif; }
        h1 { margin: 30px px; text-align: center; }
        img { max-width: 100%; display: block; margin: 0px 0px 500px 0px; }
      </style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>

<body>
    <h1>🙉⚙️🙉</h1>
    <h1>메타의 포토부스 API입니다.</h1>
    <h1>제발 공격 하지 말아주세요</h1>
    <blockquote class="imgur-embed-pub" lang="en" data-id="a/4fIHK8p"  ><a href="//imgur.com/a/4fIHK8p">Sound activated</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
</body>
</html>